<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
  </div>  
  <!--form-->
  <div class="card-body">
    <form [formGroup]="compra" (ngSubmit)="grabar()"> 
      <div class="mb-2">
        <label for="id_clientes">ID Cliente</label>
        <select class="form-control" formControlName="id_clientes">
          <option value="0">Seleccione una opción</option>
          @for (proveedor of ListaProveedores; track proveedor.id_clientes) {
          <option [value]="proveedor.id_clientes">{{ proveedor.nombre }}</option>
          }
        </select>

        @if (compra.invalid && (compra.dirty || compra.touched)) {
        <div class="alert">
          @if (compra.errors?.["required"]) {
          <div class="ng-invalid">ID Cliente es requerido</div>
          }
        </div> 
        }
      </div>
      <div class="mb-2">
        <label for="id_producto"> ID Producto </label>
        <input type="text" class="form-control" formControlName="id_producto" />
        @if (compra.invalid && (compra.dirty || compra.touched)) {
        <div class="alert">
          @if (compra.errors?.["required"]) {
          <div class="ng-invalid">ID Producto es requerido</div>
          }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="cantidad"> Cantidad </label>
        <input
          type="text"
          class="form-control"
          formControlName="cantidad"
        />
        @if (compra.invalid && (compra.dirty || compra.touched)) {
        <div class="alert">
          @if (compra.errors?.["required"]) {
          <div class="ng-invalid">La cantidad es requerido</div>
          }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="total"> Total </label>
        <input
          type="text"
          class="form-control"
          formControlName="total"
        />
        @if (compra.invalid && (compra.dirty || compra.touched)) {
        <div class="alert">
          @if (compra.errors?.["required"]) { 
          <div class="ng-invalid">El total es requerido</div>
          }
        </div>
        }
      </div>
      <div class="mb-2">
        <button type="submit" class="btn btn-primary" [disabled]="!compra.valid">
          Grabar
        </button>
        <button class="btn btn-secondary" routerLink="/compras">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
